<div th:fragment="form-options" class="space-y-4">
  <div th:if="${operation == 'Encrypt'}">
    <div th:switch="${cipher}">
      <div th:case="'Caesar'">
        <label class="block text-gray-700 font-medium mb-1">Key (0-25)</label>
        <input type="number" name="key" min="0" max="25"
          class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Enter shift value">
      </div>
      <div th:case="'Vigenère'">
        <label class="block text-gray-700 font-medium mb-1">Keyword</label>
        <input type="text" name="vigenereKey"
          class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Enter keyword">
      </div>
    </div>
  </div>
  <div th:if="${operation == 'Decrypt'}">
    <label class="flex items-center space-x-2">
      <input type="checkbox" name="useKnownKey" hx-get="/key-options" hx-target="#key-options" hx-trigger="change"
        hx-include="[name=cipher]" class="h-5 w-5 text-blue-500">
      <span class="text-gray-700">Use Known Key</span>
    </label>
    <div id="key-options" class="mt-2"></div>
    <div th:unless="${useKnownKey}">
      <div th:if="${cipher == 'Vigenère'}">
        <p class="text-gray-700 font-medium mb-2">Choose breaking method:</p>
        <input type="hidden" name="breakMethod" th:value="${breakMethod ?: 'rockyou'}">
        <div class="space-y-2">
          <label class="flex items-center space-x-2">
            <input type="radio" name="breakMethod" value="rockyou" hx-get="/vigenere-break-options?breakMethod=rockyou"
              hx-target="#break-options" hx-trigger="change" class="h-5 w-5 text-blue-500" checked>
            <span class="text-gray-700">Use rockyou.txt</span>
          </label>
          <label class="flex items-center space-x-2">
            <input type="radio" name="breakMethod" value="bruteForce"
              hx-get="/vigenere-break-options?breakMethod=bruteForce" hx-target="#break-options" hx-trigger="change"
              class="h-5 w-5 text-blue-500">
            <span class="text-gray-700">Brute-force</span>
          </label>
        </div>
        <div id="break-options" class="mt-2"
          th:replace="~{fragments/vigenere-break-options :: vigenere-break-options(breakMethod='rockyou')}"></div>
      </div>
    </div>
  </div>
</div>
